<h1>New User</h1>

<form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<% form_authenticity_token %>">
  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]" id="user[username]"><br>
  <label for="user[email]">Email:</label>
  <input type="email" name="user[email]" id="user[email]"><br>
  <label for="user[password]">Password:</label>
  <input type="password" name="user[password]" id="user[password]"><br>
  <input type="submit" name="commit" value="Create User">
</form>
